p{
    font-size: 70%;
    text-align: center;
}

@media (max-width: 1100px) {
    #personagens {
        padding: 5%;
    }

    .gradeDeCartinhas {
        grid-template-columns: repeat(4, 1fr);
        display:grid;gap:30px;
        width: 100%;
    }
}

@media (max-width: 780px) {
    .gradeDeCartinhas {
        grid-template-columns: repeat(3, 1fr);
    }

    p{
        font-size: 60%;
    }
}

@media (max-width: 520px) {
    .gradeDeCartinhas {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        margin-top: 30px;
    }

    p{
        font-size: 50%;
    }
}
