h1{font-size:clamp(28px, 5vw, 56px);line-height:1.1;margin:0 0 12px;font-weight:800;text-align: center;}

h2{font-size:clamp(22px, 3.2vw, 32px);margin:0 0 20px; text-align: center;}

p{
    margin:0 0 14px 15px;
    font-size:1.3rem;
    text-align: justify;
}

li{
    font-size: 1.3rem;
    color: var(--muted);
}

article{
    margin-bottom: 50px;
}

#supremo {
    margin-top:30px;
}

picture a{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    font-size: 0.8rem;
}


.dentroDaTela{
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap:40px;
    align-items:center;
    justify-items:center;
    margin:70px;
}

@media (max-width: 1100px){
    p{font-size: 1rem; margin-left: 10px;}
    li{font-size: 1rem;}
    .dentroDaTela{margin: 30px; gap:16px}
    article{margin-bottom: 30px;}
    h2{margin:0 0 15px;}
    picture a{font-size: 0.7rem;}
}


@media (max-width: 520px){
    p{font-size: 1rem;}
    .dentroDaTela{grid-template-columns:1fr; margin: 30px; gap:20px}
    h2{margin:0 0 10px;}
        picture a{font-size: 0.6rem;}
}
